<h1>
    <div class="heading-style">Cou</div>rses</h1>
<a (click)=gotoAddCourse() *ngIf="auth.isAuthenticated()" class="btn btn-primary btn-color glyphicon glyphicon-plus add-course"
    role="button" data-toggle="modal" data-target="#courseModal"></a>

<input type="text" class="form-control search" placeholder="Search for courses " [(ngModel)]="search">
<select [(ngModel)]="category"  class="form-control filter">
        <option value="all" >All</option>
        <option value="web development">Web development</option>
        <option value="front-end">Front-end</option>
        <option value="back-end">Back-end</option>
    </select>
<div class="row" [@listAnimation]="courses.length">
    <div class="col-sm-4 col-md-4" *ngFor="let course of courses | filter :category |search:search ">
        <div class="thumbnail">
            
            <img src="{{course.img}}" alt="">
           
            <div class="caption " >
           
                <h3>{{course.name  | slice:0:22}}..</h3>
                <div  id="container-content">
                    <span class="glyphicon glyphicon-info-sign"> Description:</span>
                    <p class="course-descr"> {{course.description}}</p>
                </div>
                <div>
                    <span class="glyphicon glyphicon-user"> Teacher:</span>
                    <p class="course-descr"> {{course.teacherName}}</p>
                </div>
                <div>
                    <span class="glyphicon glyphicon-star"> Raiting: </span>
                    <p class="course-descr"> {{((course.overall.one*1)+(course.overall.two*2)+(course.overall.three*3)+(course.overall.four*4)+(course.overall.five*5))/(course.overall.one+course.overall.two+course.overall.three+course.overall.four+course.overall.five)}}</p>
                </div>
                <div>
                    <span class="glyphicon glyphicon-calendar"> Last Update:</span>
                    <p class="course-descr"> {{course.lastUpdate | date}}</p>
                </div>
                <p >
                    <a (click)=gotoViewCourse(course) class="btn btn-primary glyphicon glyphicon-info-sign btn-color" role="button" data-toggle="modal"
                        data-target="#courseDetailsModal"> </a>
                    <a class="btn btn-primary glyphicon glyphicon-edit btn-color" role="button" *ngIf="auth.isAuthenticated()" data-toggle="modal"
                        data-target="#courseEditModal" (click)=gotoEditCourse(course)></a>
                    <a class="btn btn-danger glyphicon glyphicon-trash" role="button" *ngIf="auth.isAuthenticated()" data-toggle="modal" data-target="#courseDeleteModal"
                        (click)=gotoDeleteCourse(course)></a>
                </p>
        </div>
           
        </div>
    </div>
</div>