.form-control{
    margin-top:1%
}
.btn{
    background-color:rgb(26,188,156) ;
    margin-top:1%;
    width:17%;
}
.modal-title{
    color:rgb(26,188,156) ;
   
}
.btn:hover{
    background-color:rgb(19, 165, 136) ;
}

.label-default {
    background-color: #777;
    background-color:rgb(26,188,156) ;
    font-size: 18px;
    margin-top:2%;
    display:inline-block;
    width:100%

}
.invalid{
    color:palevioletred;
}
.simple-notification {
     margin-bottom: 100%
     
}
input[name="visible"]{
    height: 22px
}

