<div class="modal fade" id="courseModal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <form [formGroup]="courseGroup" (ngSubmit)="onSubmit()">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add course</h4>
                    <simple-notifications [options]="options"></simple-notifications>
                </div>
                <div class="modal-body">

                    <input class="form-control" placeholder="name" formControlName="name">
                    <p *ngIf="!courseGroup.controls['name'].valid && courseGroup.controls['name'].touched" class="invalid">Name is required and least 10 symbols </p>
                    <label for="category" class="label label-default">select category</label>
                    <select class="form-control" formControlName="category" id="category">
                        <option value="web development">Web development</option>
                        <option value="front-end">Front-end</option>
                        <option value="back-end">Back-end</option>
                    </select>
                    <p *ngIf="!courseGroup.controls['category'].valid && courseGroup.controls['category'].touched" class="invalid">Category is required and least 4 Symbols </p>
                    <input class="form-control" placeholder="teacher name" type="string" formControlName="teacherName">
                    <p *ngIf="!courseGroup.controls['teacherName'].valid && courseGroup.controls['teacherName'].touched" class="invalid">Teacher Name is required and least 4 symbols </p>
                    <input class="form-control" placeholder="teacher email" formControlName="teacherEmail">
                    <p *ngIf="!courseGroup.controls['teacherEmail'].valid && courseGroup.controls['teacherEmail'].touched" class="invalid">Teacher email is required </p>
                    <textarea class="form-control" placeholder="description" formControlName="description" maxlength="90"></textarea>
                    <p *ngIf="!courseGroup.controls['description'].valid && courseGroup.controls['description'].touched" class="invalid">description is required </p>
                    <input class="form-control" placeholder="language" formControlName="language">
                    <p *ngIf="!courseGroup.controls['language'].valid && courseGroup.controls['language'].touched" class="invalid">language is required </p>
                    <input class="form-control" placeholder="image path" formControlName="img">
                    <p *ngIf="!courseGroup.controls['img'].valid && courseGroup.controls['img'].touched" class="invalid">Image path should be valid</p>
                    <label for="visible" class="label label-default">visible to all users</label>
                    <input class="form-control" id="visible" placeholder="visible to all users" type="checkbox" formControlName="visible">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" [disabled]=!courseGroup.valid>Add Course</button>
                    <button type="button" class="btn btn-primary " data-dismiss="modal" (click)='gotoList()'>Close</button>
                </div>
            </div>
        </form>


    </div>
</div>