<h1 @explainerAnim><div class="heading-style">Online</div> Academy</h1>
<div class="panel panel-default" @explainerAnim>
    <div class="panel-body" >
        <div class="heading-style">Online Academy </div> is an online learning platform where anyone can take a course on anything.
        <div class="heading-style">The platform gathers teachers and students</div> and creates a touching point by providing access to courses.
    </div>
</div>
<div class="row" @explainerAnim>
    <div class="col-xs-4 col-md-3 home-page-content">
        <a [routerLink]="'courses'" *ngIf="auth.isAuthenticated()">
               All Courses
                </a>
        <a [routerLink]="'login'" *ngIf="!auth.isAuthenticated()">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
        Login
        </a>
    </div>
    <div class="col-xs-4 col-md-3 home-page-content ">
        <a [routerLink]="'top'" *ngIf="auth.isAuthenticated()">
                    Top Courses
                    </a>
        <a [routerLink]="'register'" *ngIf="!auth.isAuthenticated()">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png">
            Register
        </a>
    </div>


</div>